[mysqld]

sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# 不区分表名大小写，需要和mysql启动命令同时指定
# lower_case_table_names=1

# redolog 大小|数量
innodb_log_file_size = 1G
innodb_log_files_in_group = 2